/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
body {
  background-color: #CAF0F8;
  color: #03045E;
  font-family: 'Montserrat', sans-serif;
  font-size: 67.5%;
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  font-weight: 700;
}

h2 {
  font-size: 1.3rem;
  font-weight: 700;
  padding-bottom: 3%;
}

p {
  font-size: .8rem;
}

header {
  background-color: #023e8a;
  font-size: 1rem;
  max-height: 100px;
  padding-bottom: 3%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header img {
  display: none;
  max-height: 100px;
  max-width: 300px;
  width: 25%;
  margin-bottom: -3%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  padding-top: 3%;
}

nav a {
  text-decoration: none;
  color: #CAF0F8;
}

/* .current {
  background-color: #90E0EF;
  color: #03045E;
  padding-top: px;
  height: 100px;
} */

.top-section {
  background-color: #90E0EF;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.top-section img {
  border-radius: 100px;
  margin: 3% auto;
  width: 250px;
}

.top-text {
  line-height: 2;
  max-width: 960px;
  padding: 0 5% 5% 5%;
}

.top-text p{
  font-size: 1rem;
  padding-bottom: 3%;
}

button {
  background-color: #023e8a;
  border: 1px solid #03045E;
  border-radius: 12px;
  color: #CAF0F8;
  font-size: 1.5rem;
  font-weight: 700;
  height: 50px;
  letter-spacing: 3px;
  transition-duration: 0.2s;
  width: 50%;
}

a button {
display: inline-block;
cursor: pointer;
border-width: 0;
letter-spacing: 2px;
min-width: 100%;
text-transform: uppercase;
white-space: normal;
font-size: 1rem;
line-height: 1;
border-radius: 500px;
padding: 19px 56px 21px;
}

.top-button {
  min-width: 50%;
}

.top-text button:hover {
  background-color: #CAF0F8;
  color: #03045E;
}

.about-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3%;
}

.about-section h2 {
  font-size: 1.5rem;
}

.about-section p {
  color: #023e8a;
  font-size: 1rem;
  line-height: 1.5;
}

.about-section button:hover {
  background-color: #90E0EF;
  border: 1px solid #023e8a;
  color: #03045E;
}

.about-text {
  margin-bottom: 3%;
  width: 85%;
}

.about-cards {
  background-color: #023e8a;
  /* border: 3px solid #03045E; */
  height: 250px;
  margin-bottom: 3%;
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.about-cards h2 {
  color: #CAF0F8;
  padding-bottom: 0;
}

.about-cards p {
  color: #90E0EF;
  padding-left: 10%;
  padding-right: 10%;
}

.about-cards i {
  font-size: 4rem;
  color: #90E0EF;
}

.about-cards img {
  border: 3px solid #90E0EF;
  border-radius: 100%;
  max-width: 150px;
  width: 30%;
}

.bottom-text {
  margin: 3% 0;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

footer {
  background-color: #023e8a;
  font-size: 1rem;
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

footer p {
  color: #CAF0F8;
  font-size: .7rem;
  margin-bottom: 2%;
}

.bottom-nav {
  width: 100%;
}

@media (min-width: 800px) {

    header img {
      display: initial;
  }
    nav {
      width: 75%;
    }
    /* .about-cards {
      flex-direction: row;
    } */
    .about-section h2 {
    font-size: 1.8rem;
  }
    .about-section p {
    font-size: 1.2rem;
  }
    footer {
    height: 100px;
  }
}

@media (min-width: 1000px) {
  nav a {
    font-size: 1.5rem;
  }
  footer {
    height: 130px;
  }
  footer p {
  font-size: .9rem;
  margin-bottom: 1%;
}
}